<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name='description' content=''>
  <meta name='author' content='Mill'>
  <title>Kolektiv</title>
</head>

<body>
  <div class="parent">
    <img class="child" src="/src/media/baskethriste.jpg" alt="basketball court">
    <div class="menu-navbar">
      <img class="main-logo" src="/src/media/navbar/kolektiv.svg" alt="kolektiv logo">
      <a href="https://www.facebook.com/kolektiv.sk/"><img class="icons icon-1" src="/src/media/navbar/facebook.svg" alt="facebook"></a>
      <a href="https://www.linkedin.com/company/kolekt%C3%ADv/"><img class="icons icon-2" src="/src/media/navbar/linkedin.svg" alt="linkedin"></a>
      <a href="https://www.linkedin.com/company/kolekt%C3%ADv/"><img class="icons icon-3" src="/src/media/navbar/instagram.svg" alt="instagram"></a>
      <a href="kolektiv@gmail.com"><img class="icons icon-4" src="/src/media/navbar/email.svg" alt="email"></a>
      <a href="/src/views/secondary.html"><img class="icons menu" src="/src/media/navbar/menu.svg" alt="menu"></a>
    </div>
    <!-- <h1 class="child">Veríme tomu, že viac ako sťažovat sa, je robit pre zmenu toho kvoli čomu sme nespokojni</h1> -->
      <h1 class="footer">Občianske združenie</h1>
      <h1 class="footer">Kolektiv @2020</h1>
  </div>

</body>

</html>