<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='description' content=''>
    <meta name='author' content='Mill'>
    <title>Home</title>
</head>

<body>
    <a id="hamburger-tag" class="closebtn" style="color: red;" onclick="openMenu()">a</a>
    <div id="main">
        <div class="menu-top">
            <img class="main-logo" src="src/img/kolektiv.svg">
            <img class="icons icon1" src="src/img/icons/socialmedia/facebook.svg">
            <img class="icons icon2" src="src/img/icons/socialmedia/linkedin.svg">
            <img class="icons icon3" src="src/img/icons/socialmedia/instagram.svg">
            <img class="icons icon4" src="src/img/icons/socialmedia/email.svg">
            <a href="javascript:void(0)" class="closebtn" onclick="closeMenu()">×</a>
        </div>

        <div class="options">
            <h1><span class="dot"></span><a href="domov.html">Občianske združenie</a></h1>
            <h1><span class="dot"></span><a href="onas.html">O nás</a></h1>
            <h1><span class="dot"></span><a href="casovaos.html">Časová os</a></h1>
            <h1><span class="dot"></span><a href="projekty.html">Projekty</a></h1>
        </div>
        <footer>
            <div class="footer">
                <h1 class="footer-h1">Občianske združenie</h1>
                <h1 class="footer-h1">Kolektiv @2020</h1>
            </div>
        </footer>
    </div>

    <!-- <script>
        function openMenu() {
            document.getElementById("hamburger-tag").style.display = "none";
            document.getElementById("main").style.display = "block";
        }
        function closeMenu() {
            document.getElementById("hamburger-tag").style.display = "block";
            document.getElementById("main").style.display = "none";
        }
    </script> -->
</body>

</html>